$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.widget {
    width: 50%;
    padding: 20px;
    margin-bottom:30px;
    border: 1px solid $gray-light;
    .control-label {
        width:110px;
        margin-right:10px
    }
    .btn-horizontal {
        margin-left: 123px
    }
}

.reg-form {
    .control-label {
        width:160px;
        margin-right:10px
    }
    .btn-horizontal {
        margin-left: 173px
    }
}

