<form action="">
    <fieldset>
        <legend>Offer Code</legend>
        <div class="form-group">
            <label for="offer-code" class="control-label">Offer Code ID</label>
            <input id="offer-code" name="offer_code" type="text"/>
        </div>
        <div class="form-group">
            <button type="button" id="offer-widget-submit" class="btn btn-primary btn-horizontal submit-btn">Submit</button>
        </div>
    </fieldset>
</form>
